<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <form>
     <h1>Create a Bastketball Team!<h1>
       "Team Name: #{params[:team_name]}"
       <p>Coach: <input type="text" name="coach"><p>
       "Coach: #{params[:coach]}"
       "Point Guard: #{params[:point_guard]}"
       "Shooting Guard: #{params[:shooting_guard]}"
       "Small Forward: #{params[:small_forward]}"
       "Power Forward: #{params[:power_forward]}"
       "Center: #{params[:center]}"
       <input id="Submit" type="submit">
   </form>

 </body>
</html>
